.container_scrollbar {
   scrollbar-width: none;
   overflow-x: auto;
   padding: 0.8rem 0.5rem 0.4rem 0.5rem;
}

.container_scrollbar::-webkit-scrollbar {
   display: none;
}

.container_scrollbar a {
   color: #c340c5;
   padding: 0.3rem 1rem;
   border-radius: 0.8rem;
   font-size: 0.9rem;
   font-weight: 700;
   white-space: nowrap;
   box-shadow: 0 0 10px 0 transparent;
   transition: all 0.2s linear;
}

.container_scrollbar a:hover {
   color: #f59de8;
   border-color: #f59de8;
}

.container_scrollbar a:active {
   scale: 0.95;
}

.active {
   color: #fff !important;
   background-color: #9210a0;
   border-color: #9210a0;
   box-shadow: 0 0 8px 0 #9210a0 !important;
}
